extends layout

block content
    ul#nav
        li
            a(href="#intro")
                img(src="images/dot.png")
        li
            a(href="#second")
                img(src="images/dot.png")
        li
            a(href="#third")
                img(src="images/dot.png")
        li
            a(href="#fourth")
                img(src="images/dot.png")

    #intro
        .story
        .float-left
            h2 zack roif
            p this is where a description will go

    #second
        .story
        .bg
        .float-right
            h2 michael lechner
            p did I actually manage to figure this shit out

    #third
        video(width="1280px" controls)
            source(src="/videos/close-encounter.mp4" type="video/mp4")
     #fourth
        .story
        .float-left
            h2 zack roif
            p this is where a description will go