extends layout

block content
    #intro
        .story
        .float-left
            h2 zack roif
            p this is where a description will go

    #second
        .story
        .bg
        .float-right
            h2 michael lechner
            p did I actually manage to figure this shit out

    #intro
        .story
        .float-left
            h2 zack roif
            p this is where a description will go